spring:
  application:
    name: lovable-clone

  datasource:
    url: jdbc:postgresql://localhost:9000/testDB?options=-c%20TimeZone=Asia/Kolkata
    username: admin
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

jwt:
  secret-key: adfjgwdkfsdkfkgwjerfjeoirfjedfkndsfgnudfkgdff